.biscuit-caret {
  width: 12px;
  height: 2px;
  background: red;
  opacity: 1;
  position: absolute;
  opacity: var(--opacity);
  top: calc(var(--y) + 1.2em);
  left: 0;
}

.biscuit-caret[data-transition] {
  transition: transform .3s ease-in-out;
}

.biscuit-caret[data-position="left"] {
  transform: translateX(var(--x)) translateX(-100%);
}

.biscuit-caret[data-position="right"] {
  transform: translateX(var(--x));
}

#editable {
  padding: 2em;
}